{
  "presets": [
    ["@babel/preset-env", {
      "useBuiltIns": "entry",
      "targets": {
        "esmodules": true
      }
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    ["babel-plugin-styled-components", {
      "minify": true
    }]
  ]
}