0.0.0.0:2015 {
    root /var/www
    gzip

    proxy /api/v1 geo-rest_backend:8080 {
        transparent
        without /api/v1
    }

    proxy /openapi geo-rest-stuff_swagger-ui:8080/ {
        transparent
    }
}
